@import '~owl.carousel/dist/assets/owl.carousel';
body {
    background-color: #fafafa
}
.main-title, .message {
    text-align: center
}
.main-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5
}
.user-info {
    color: grey
}
.review-text {
    padding-top: 10px
}
.review-block {
    margin-top: 15px
}
.logo {
    height: 100%;
    width: 100%;
}
.gigabyte-title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
}

hr {
    border: 1px solid #000 !important
}
.table-responsive {
    overflow-x: hidden !important;
}
